
body {
	padding: 1vw;
	font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
	line-height: 1.5em;
	font-size: 1em;
  width: 100%;
  background-color: rgb(242, 193, 209);
	}

h1, h2, h3, nav, footer {
    text-align: center;
}

nav {
    margin-bottom: 1vw;
    border-top: 1px solid rgb( 255, 105, 180);
    border-bottom: 1px solid rgb( 255, 105, 180);
    padding: 1vw;
    font-size: 2em;
}


h1 {
        font-size: 3em;
        font-weight: bold;
} 

a{
	color: rgb(0,103,79);
}

a:hover {
	color: rgb(252, 15, 192);
}

a:link {
    color: grey;
}


h2 {
    padding: 1vw;
}

h3 {
    font-weight: bold;
    padding: 1vw;
    
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
}
#description {
    font-weight: bold;
}

#details {
    padding: 0.5vw;
    margin: 0.5vw;
    width: 30em;
    text-align: center;  
    border: 1px solid rgb(153, 122, 141);
    background-color: rgb(255, 179, 222);
    justify-content: center;
    border-radius: 1em;
}

.textandimage {
    background-color:rgb(255, 179, 222);
    color: black;
    width: auto;
    border-radius: 1em;
    border: 5px solid rgb(153, 122, 141)
}

footer {
    border-top: 1px solid black;
    padding-top: 1vw;
    margin-top: 1vw;
}

.col-sm {
    column-gap: 10em;
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logos, .copyright_text {
    display: inline;
}

.copyright_logo {
		width: 1vw;
		margin:.15vw;
	}

.row {
    padding: 1vw;
}

.transcription {
    padding-left: 20%;
}


#collection {
    display: flex;
}

#headerGallery {
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    
}

.thumbnail {
    margin: 5px;
    border: 1px solid black;
    width: 20em;
}

img {
    margin: 5px;
    border: 1px solid black;
    width: 30em;
}