
body {
	padding: 1vw;
	font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
	line-height: 1.25;
	font-size: 1vw;
  width: 100%;
  background-color: rgb(255, 232, 232);
	}

h1, h2, h3, nav, footer {
    text-align: center;
}

h1 {
        font-size: 3em;
        font-weight: bold;
}

nav {
    margin-bottom: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1vw;
    font-size: 2em;
}

a:link {
    color: grey;
}


h2 {
    padding: 1vw;
}

h3 {
    font-weight: bold;
    padding: 1vw;
    
}

.link-grid {
    font-size: 1.3em;
}

#details {
    padding: 2vw;
    margin: 1vw;
    text-align: center;    
}

footer {
    border-top: 1px solid black;
    padding-top: 1vw;
    margin-top: 1vw;
}

.col-sm {
    column-gap: 10em;
  z-index: 1
    
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logos, .copyright_text {
    display: inline;
}

.copyright_logo {
		width: 1vw;
		margin:.15vw;
	}

.row {
    padding: 1vw;
}

.container .row {
    border-top: 2px solid lightpink;
}
.transcription {
    padding-left: 20%;
    font-size: 1.2em;
}


#collection {
    display: flex;
}

#headerGallery {
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 1.5em;   
}

.img-full {
    margin: 5px;
    border: 1px solid black;
    width: 100em;
}
.zoom {
  transition: transform .2s; /* Animation */
  width: 35em;
  height: auto;
  margin: 0 auto;
  z-index: 2;
  transition: transform 0.5s ease, opacity 0.5s ease;
  overflow: hidden;
  object-fit: cover;
}

.zoom:hover {
  transform: scale(1.7);
  

}